@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  height: 100vh;
}

img {
  width: 100%;
  display: block;
}

:root {
  --white: #fff;
  --blue: #0060b6;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.generator {
  width: 20em;
  padding: 1.5em;
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  border-radius: 15px;
}

.hex {
  font-size: 2.5rem;
  margin-bottom: 1em;
}

.btn {
  background-color: var(--white);
  color: var(--blue);
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0.7em 1.4em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 1em;
}

.btn:hover {
  background-color: var(--blue);
  color: var(--white);
  border: 3px solid var(--white);
}

@media (min-width: 1440px) {
  .generator {
    width: 22em;
  }
}

@media (min-width: 1920px) {
  .generator {
    width: 28em;
  }
}
